*{padding: 0px;margin: 0px;box-sizing: border-box;}
p::selection{ background-color: rgb(237, 225, 249);color: blueviolet;}
a{text-decoration: none;color: gray;}
a:visited{color: gray;}
a:link::after{content: "-"attr(href);}
#aa{
    border: 1px solid black;
    border-radius: 10px;
    padding: 50px;
    width: 300px;
    height: 150px;
    background-color: grey;
}